<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ge.dev.baqari.fit">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <permission
        android:name="com.dev.baqari.READ_DATABASE"
        android:protectionLevel="normal" />
    <permission
        android:name="com.dev.baqari.WRITE_DATABASE"
        android:protectionLevel="normal" />

    <application
        android:name=".ApplicationImpl"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <meta-data
            android:name="com.samsung.android.sdk.multiwindow.enable"
            android:value="true" />
        <activity
            android:name=".component.MainActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".component.StepService"
            android:enabled="true"
            android:label="Step service" />

        <provider
            android:name=".component.StepsProvider"
            android:authorities="com.dev.baqari.StepsProvider"
            android:exported="true"
            android:readPermission="com.mygpi.mygpimobilefitness.READ_DATABASE"
            android:writePermission="com.mygpi.mygpimobilefitness.WRITE_DATABASE" />

        <receiver
            android:name=".component.BootBroadcastReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <action android:name="android.intent.action.MEDIA_UNMOUNTED" />
                <action android:name="android.intent.action.MEDIA_EJECT" />
                <action android:name="com.mygpi.mygpimobilefitness.start" />
            </intent-filter>
        </receiver>

    </application>

</manifest>